    <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="/" class="navbar-item title is-2 has-text-light m-4">Ciao!</a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
<% if (typeof user !== 'undefined') { %>
          <a href="/myaccount" class="navbar-item has-text-light m-4">Profile</a>
          <a href="/logout" class="navbar-item has-text-light m-4">Logout</a>
<% } else { %>
          <a href="/login" class="navbar-item has-text-light m-4">Sign in</a>
          <a href="/users/new" class="navbar-item has-text-light m-4">Sign up</a>
<% } %>
        </div>
      </div>
    </nav>
