    <nav class="container-fluid">
      <ul>
        <li><a href="/"><strong>Ciao!</strong></a></li>
      </ul>
      <ul>
<% if (typeof user !== 'undefined') { %>
        <li><a href="/myaccount" role="button" class="outline">Profile</a></li>
        <li><a href="/logout" role="button" class="outline">Logout</a></li>
<% } else { %>
        <li><a href="/login" role="button" class="outline">Sign in</a></li>
        <li><a href="/users/new" role="button" class="outline">Sign up</a></li>
<% } %>
      </ul>
    </nav>
