<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ciao!</title>
    <link rel="stylesheet" href="/stylesheets/pico.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>
  <body>
    <%- include('header'); -%>
    <main class="container">
      <h1>Ciao!</h1>
      "Ciao!" allows people taking part in the same event to exchange contacts
      via QR code. It is a lightweight, no-nonsense web application.
    </main>
    <footer class="container">
      <small><a href="https://github.com/foxyseta/ciao">Source code</a></small>
    </footer>
  </body>
</html>
