<!DOCTYPE html>
<html lang="en" class="has-background-primary-light">
  <head>
    <title>Home | Ciao!</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>
  <body class="has-text-light is-family-monospace container">
    <%- include('header'); -%>
    <section class="section container">
      <p class="subtitle has-text-primary-dark">
        "Ciao!" allows people taking part in the same event to exchange contacts
        via QR code. It is a lightweight, no-nonsense web application.
      </p>
    </section>
    <footer class="section container">
      <a href="https://github.com/foxyseta/ciao" class="button is-primary">Source code</a>
    </footer>
  </body>
</html>
