<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign in | Ciao!</title>
    <link rel="stylesheet" href="/stylesheets/pico.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>
  <body>
    <%- include('header'); -%>
    <main class="container">
      <article class="grid">
        <div>
          <% if (hasMessages) { %>
            <ul>
            <% messages.forEach(function(message){ %>
              <li><%= message %></li>
            <% }); %>
            </ul>
          <% } %>
          <hgroup>
            <h1>Sign in</h1>
          </hgroup>
          <form action="/login/password" method="post">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" class="contrast">Sign in</button>
          </form>
        </div>
      </article>
    </main>
  </body>
</html>
