<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notifications | Ciao!</title>
    <link rel="stylesheet" href="/stylesheets/pico.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>
  <body>
    <%- include('header'); -%>
    <main class="container">
      <% notifications.forEach(function(notification){ %>
        <article>
          <% if (notification.subject) { %>
          <h4><%- notification.subject %></h4>
          <% } %>
          <p><%- notification.body %></p>
        </article>
      <% }); %>
    </main>
  </body>
</html>
